.home-container {
  margin-top: 6%;
  padding: 2rem;
  font-family: Arial, sans-serif;
}

.summary-box {
  background-color: #e6ffe6;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-top: 1rem;

}

.summary-box p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  text-align: left;
}
h1 {
  color: #333;
  margin-bottom: 1rem;
  font-family: monospace;
  font-size: 2rem;
  text-align: center;
}