.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  color: white;
  padding: 1rem 2rem;
  font-family: 'Arial', sans-serif;
}



.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: border-bottom 0.2s;
  padding-bottom: 4px;
}
.navbar-links li ,
.navbar-links li a.active,
.navbar-links li a:hover {
  border-bottom: 2px solid white;
}
